{
	"singleQuote": true,
	"trailingComma": "es5",
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "strict",
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"useTabs": true,
	"tabWidth": 3,
	"printWidth": 80,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./app/globals.css"
}
