body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 1499;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	height: 100vh;
	pointer-events: none;

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		&:focus {
			outline: none;
		}
	}
}
.popup_show {
	z-index: 1500;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: white;
	width: 100%;
	border-radius: 20px;

	max-width: 568px;
	@include adaptiveValue("padding-inline", 96, 18);
	@include adaptiveValue("padding-block", 80, 64);
	text-align: center;

	@media (max-width: 606px) {
		max-width: 100vw;
		height: calc(100vh - 60px);
	}
	.lock & {
		visibility: visible;
	}
}

//====================callback-popup======================
.callback-popup,
.resume-popup,
.connect-with-us-popup {
	.form__row {
		flex-direction: column-reverse;

		&:last-child {
			margin-top: 4px;
		}
	}

	.popup__head {
		margin-bottom: 20px;
	}

	.popup__title {
		margin-bottom: 28px;
	}
}

//====================accept-popup======================

.accept-popup {
	._icon-check {
		display: inline-flex;
		align-items: center;
		background-color: $primary1;
		aspect-ratio: 1;
		padding: 10px;
		margin-bottom: rem(24);
		border-radius: 100%;
		color: white;
	}
}

//====================resume-popup======================
