// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	// gap: 16px;
}
// Спойлер
.spollers__item {
}
// Заголовок спойлера
.spollers__title {
	display: flex;
	width: 100%;
	cursor: default;
	text-align: left;
	border-bottom: 1px solid $gray7;
	@include adaptiveValue("padding-block", 24, 16);
	padding-right: 40px;
	margin-bottom: 0px !important;
	border-radius: rem(5);
	position: relative;
	overflow-wrap: break-word;

	._spoller-init & {
		cursor: pointer;
		&::after {
			content: "\e900";
			font-family: "icons";
			@include adaptiveValue("font-size", 24, 17);
			position: absolute;
			right: 10px;
			@include adaptiveValue("top", 27, 19);
			will-change: transform;
			transition:
				transform $tm ease 0.2s,
				color $tm ease;
		}
		&._spoller-active {
			color: $primary1;
			&::after {
				transform: rotate(90deg);
				color: $primary1;
			}
		}
	}
}
// Контент спойлера
.spollers__body {
}
