//<INPUT>
// Снипет (HTML): inp

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	&:-webkit-autofill {
		transition: all 5000s ease-in-out;
	}
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	display: block;
	width: 100%;
	@include adaptiveValue("padding-block", 20, 14);
	@include adaptiveValue("padding-inline", 24, 16);
	border-radius: 12px;
	border: 1px solid;
	border-color: $gray4;
	background-color: transparent;
	transition: border-color $tm ease;
	&::placeholder {
		color: $gray4;
	}
	&:hover,
	&:focus {
		border-color: $gray3;
	}

	&:disabled {
		border-color: $gray6;
		&::placeholder {
			color: $gray6;
		}
	}
}

.form {
	// .form__row

	&__row {
	}

	&__column {
	}

	// .form__input-file

	&__input-file {
	}
}
.input-file {
	position: relative;
	// .input-file__input

	&__input {
		display: flex;
		gap: 10px;

		&:hover .input-file__btn span:before {
			background-color: $primary1-hover;
		}

		input {
			position: absolute;
			inset: 0;
			opacity: 0;
			font-size: 0;
			cursor: pointer;
		}

		.input-file__btn {
			pointer-events: none;

			span:before {
				background-color: $primary1;
				color: white;
			}
		}
	}

	// .input-file__btn

	&__btn {
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			gap: 10px;

			&::before {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border-radius: 100px;
				color: $primary1;
				background-color: $primary1-disable;
				transition:
					background-color $tm ease,
					color $tm ease;
			}
		}
	}

	// .input-file__description

	&__description {
		text-align: left;
		p {
			margin-bottom: 0 !important;
		}
	}

	// .input-file__files

	&__files {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: start;
		text-align: left;

		.input-file__btn:hover {
			span:before {
				background-color: $primary2-hover;
				color: white;
			}
		}
	}
}

.form_light {
	.input[type="text"],
	.input[type="tel"],
	.input[type="email"],
	textarea {
		border-color: $add7;
		color: white;

		&::placeholder {
			color: $add7;
			transition: color $tm ease;
		}
		&:hover,
		&:focus {
			border-color: $add8;
			&::placeholder {
				color: $add8;
			}
		}

		&:disabled {
			border-color: $add8;
			&::placeholder {
				color: $add8;
			}
		}
	}
}

.input {
	&._form-focus {
	}

	&.just-validate-error-field {
		border-color: $primary-error !important;

		&::placeholder {
			color: transparent !important;
		}
	}
}
textarea.input {
	resize: none;
	// padding: 0px 0px;
}
