.cases {
	.first-screen__content {
		@include adaptiveValue("padding-block", 228, 110);
		// color: unset;
	}

	.backgrount-stars {
		&::before,
		&::after {
			display: none;
		}
	}
	.main-form {
		.main-form__content {
			&::before {
				display: none;
			}
		}
	}

	.first-screen {
		// .first-screen__background

		&__background {
		}

		// .first-screen__container

		&__container {
		}

		// .first-screen__content

		&__content {
			width: unset;
		}

		// .first-screen__title

		&__title {
			text-align: left;
			@include adaptiveValue("margin-bottom", 48, 20);
		}

		// .first-screen__list

		&__list {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}

		// .first-screen__item

		&__item {
			flex: 1 1 calc(50% - 20px);
			min-height: 445px;
			@include adaptiveValue("min-height", 445, 300);

			@media (max-width: $mobile) {
				flex: 1 1 100%;
			}
		}

		// .first-screen__description-card

		&__description-card {
			a {
				pointer-events: none !important;
				border-radius: 500px !important;
			}
		}

		&__description-card.ready-to-use {
			a {
				pointer-events: all !important;
				border-radius: 500px !important;
			}
		}
	}

	// целевая страница кейсов
	&__section {
		@include adaptiveValue("margin-bottom", 104, 56);
	}

	&__head {
		@include adaptiveValue("padding-top", 252, 110);
		@include adaptiveValue("margin-bottom", 80, 24);
	}

	&__image {
		@include adaptiveValue("height", 802, 240);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.strategy,
	.seo-results {
		@include adaptiveValue("padding-block", 104, 56);

		& .backgrount-stars {
			img {
				opacity: 0.4;
				mix-blend-mode: screen;
			}
		}

		// .strategy__container

		&__container {
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptiveValue("gap", 242, 36, 1372, 1024, 1);

			@media (max-width: $burgerMenu) {
				flex-direction: column;
			}

			.parametr-widget {
				grid-template-columns: repeat(2, 1fr);
				@include adaptiveValue("row-gap", 56, 24);
				@include adaptiveValue("column-gap", 100, 46, 1372, 1024, 1);

				.parametr {
					span {
						font-size: 0.6em;

						&:first-child {
							color: $primary1;
						}
					}
				}
			}
		}

		.seo-result__image {
			// flex: 0 0 100%;
			img {
				width: 100%;
				object-fit: contain;
			}
		}

		// .strategy__title

		&__title {
			@include adaptiveValue("margin-bottom", 56, 24);
		}

		// .strategy__scheme

		&__scheme {
			width: 85.5%;
			margin-inline: auto;
			@media (max-width: 992px) and (min-width: $mobile) {
				width: 75%;
			}
			img {
				width: 100%;
				object-fit: contain;
			}
		}
	}

	.site-dev {
		overflow: hidden;
		// .site-dev__image

		&__image {
			display: flex;
			justify-content: center;
			img {
				width: 100%;
				@media (max-width: $mobile) {
					width: 135%;
				}
			}
		}

		p {
			margin-top: 0 !important;
		}
	}
	.page-row__right {
		& > *:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 28);
		}
	}
}
