//====================отступы блоков на страницазх======================
.page,
.vacancies,
.about-company {
	&__first-screen,
	&__advantages,
	&__services,
	&__how,
	&__clients,
	// &__main-form,
	&__list,
	// &__response,
	&__first-screen-about {
		@include adaptiveValue("margin-bottom", 144, 56);
	}

	&__about {
		@include adaptiveValue("margin-bottom", 95, 30);
	}
}

//====================фоны блоков======================
.page,
.vacancies,
.services,
.about-company {
	&__main-form,
	&__how {
		position: relative;
		overflow: hidden;

		@include adaptiveValue("padding-block", 144, 56);
	}
}

.backgrount-stars {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: $primary-bg;

	img {
		width: 110%;
		height: 100%;
		object-fit: cover;
		mix-blend-mode: lighten;
		object-position: center 103%;
		opacity: 0.9;
	}

	&::after,
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		z-index: 2;
		background-blend-mode: lighten;
	}

	&::before {
		background-image: url("@img/how/bg-gradient.svg");
		background-repeat: no-repeat;
		@include adaptiveValue("background-size", 970, 600);
		@include adaptiveValue("background-position-y", -510, -200);
		@include adaptiveValue("background-position-x", -350, -200);
		filter: blur(70px);
		opacity: 0.3;
	}

	&::after {
		background-image: url("@img/bg-gradient_bottom.svg");
		background-repeat: no-repeat;
		@include adaptiveValue("background-size", 1700, 500);
		@include adaptiveValue("background-position-y", 200, 300);
		@include adaptiveValue("background-position-x", 650, 0);
		filter: blur(70px);
		opacity: 0.3;
	}
}

.first-screen__image {
	mix-blend-mode: lighten;
}
//====================текст======================
p {
	// text-wrap: balance;

	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 26, 16);
	}
}

h1,
.h1 {
	@include adaptiveValue("font-size", 64, 28);
	font-weight: 500;
	line-height: 150%;
	text-transform: uppercase;
	text-wrap: balance;
}

h2,
.h2 {
	@include adaptiveValue("font-size", 48, 24);
	font-weight: 500;
	line-height: 133.33%;
	text-wrap: balance;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 24, 16);
	}
}

h3,
.h3 {
	@include adaptiveValue("font-size", 20, 18);
	font-weight: 500;
	@include adaptiveValue("line-height", 160%, 156%);
	text-transform: uppercase;
	text-wrap: balance;
}

h4,
.h4 {
	@include adaptiveValue("font-size", 16, 14);
	font-weight: 500;
	@include adaptiveValue("line-height", 150%, 142%);
	text-transform: uppercase;
	text-wrap: balance;
}

h5,
.h5 {
	@include adaptiveValue("font-size", 32, 24);
	font-weight: 500;
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}

h6,
.h6 {
	@include adaptiveValue("font-size", 28, 18);
	line-height: 120%;
	font-weight: 500;
	&:not(:last-child) {
		margin-bottom: 12px;
	}
}

[class*="_text-s"] {
	@include adaptiveValue("font-size", 14, 13);
	@include adaptiveValue("line-height", 143%, 139%);
	font-weight: 300;
}

[class*="_text-xs"] {
	font-size: rem(12);
	font-weight: 300;
	a {
		color: #1890ff;
	}

	&:not(:last-child) {
		margin-bottom: 0;
	}
}

[class~="_text-l"] {
	@include adaptiveValue("font-size", 18, 14);
}

[class~="_text-xl"] {
	@include adaptiveValue("font-size", 20, 18);
	font-weight: 500;
}

[class*="_text-bright"] {
	color: white;
}

[class~="_sub-title"] {
	@include adaptiveValue("font-size", 20, 16);
	// @include adaptiveValue("line-height", 160%, 150%);
	line-height: 160%;
	font-weight: 300;
	text-wrap: balance;
}

[class*="_icon"] {
	display: inline-block;
	transform: translateY(-2px);
	font-size: inherit;
	line-height: inherit;
}

//====================ссылки======================

nav a,
[class*="__link"] {
	position: relative;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	padding: rem(8) rem(7);
	font-size: 14px;
	font-weight: 400;

	text-transform: uppercase;
	color: white;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		width: calc(100% - 14px);
		height: 1.4px;
		border-radius: 100px;
		top: calc(100% - 2px);
		background-color: white;
		transform: translate3d(-120%, 0, 0);
		transition: transform $tm ease;
		will-change: transform;
	}
	&:hover:before,
	&._navigator-active:before {
		transform: translate3d(0, 0, 0);
	}

	span[class*="_icon"] {
		font-size: 0.85em;
	}
}

[class*="__link"] {
	color: $primary1;
	font-size: rem(16);
}

//====================кнопки======================

.btn {
	cursor: pointer;
	display: inline-flex;
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	border-radius: 100px;
	padding: rem(18) rem(28) rem(16);
	height: fit-content;
	background-color: $primary1;
	color: white;
	transition:
		border-color $tm ease,
		color $tm ease,
		background-color $tm ease;

	&:hover {
		background-color: $primary1-hover;
	}
	&:disabled {
		background-color: $primary1-disable;
		color: $primary1-disable-text;
	}
}

.btn[class*="_light"]:hover {
	background-color: white;
	color: $primary1;
}

.btn[class*="_light"]:disabled {
	background-color: $add2;
	color: $add4;
}

.btn[class*="_bordered"] {
	background-color: transparent;
	border: 2px solid;
	border-color: $primary1;
	color: $primary1;
	@include adaptiveValue("font-size", 14, 10, 992, 360, 1);
	@include adaptiveValue("padding-inline", 28, 20, 992, 360, 1);
	@include adaptiveValue("padding-top", 16, 12, 992, 360, 1);
	@include adaptiveValue("padding-bottom", 14, 10, 992, 360, 1);
	@media (width< $mobileSmall) {
		& {
			letter-spacing: 0.4px;
		}
	}
	&:hover {
		background-color: $primary1;
		border-color: $primary1;
		color: white;
	}
	&:disabled {
		background-color: transparent;
		border-color: $primary1-disable;
		color: $primary1-disable-text;
	}
}

.btn[class*="_bordered-2"] {
	background-color: transparent;
	border: 2px solid;
	border-color: $primary1-hover;
	color: $primary1-hover;
	&:hover {
		background-color: $primary1-hover;
		border-color: $primary1-hover;
		color: white;
	}
	&:disabled {
		background-color: transparent;
		border-color: $primary1-disable;
		color: $primary1-disable-text;
	}
}

.btn[class*="_bordered-2"][class*="light"] {
	border: 2px solid;
	border-color: white;
	color: white;
	&:hover {
		background-color: white;
		border-color: white;
		color: $primary1-hover;
	}
	&:disabled {
		background-color: transparent;
		border-color: $add2;
		color: $add4;
	}
}

.btn[class*="_bordered-3"] {
	border: 2px solid;
	border-color: $gray5;
	color: $mainColor;
	&:hover,
	&:active,
	&._navigator-active,
	._tab-active & {
		background-color: $primary1-disable;
		border-color: $primary1;
		color: $primary1-hover;
	}
	&:disabled {
		background-color: transparent;
		border-color: $gray5;
		color: $gray4;
	}
}

.btn_xl {
	@include adaptiveValue("height", 64, 48);
}

.btn_l {
	height: rem(56);
}

.btn_s {
	height: rem(40);
	font-size: rem(13);
}

.btn_xs {
	font-size: rem(10);
	height: rem(32);
	letter-spacing: 2%;
}

.btn_round {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	aspect-ratio: 1;
	background-color: $primary1;
	border-radius: 500px;
	overflow: hidden;

	a {
		position: absolute;
		z-index: 20;
		inset: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	& > div:after,
	& > div:before,
	& > div span {
		content: "";
		pointer-events: none;
		position: absolute;
		inset: 0;
		// 	background-image: url("@img/button-bg-gradient.svg");
		// 	background-repeat: no-repeat;
		// 	transform: rotate(180deg);
		// 	background-size: 100%;
		// 	background-position: center;
		// 	@media (hover: hover) and (pointer: fine) {
		// 		opacity: 0;
		// 	}
		// 	// transition: opacity $tm ease;
		// 	// background-size $tm ease,
		// 	// transform 1s ease;
		// }
		// @media (any-hover: hover) and (pointer: fine) {
		// 	&:hover {
		// 		&:after {
		// 			// transform: rotate(0);
		// 			// background-size: 100%;
		// 			// opacity: 1;
		// 			animation: round-btn 1.5s ease-in-out forwards;
		// 		}
		// 	}
	}

	& > div:after {
		z-index: 5;
		background: radial-gradient(73.69% 73.69% at 50% 50%, #00d1ff 0%, rgba(0, 209, 255, 0.53) 48.23%, rgba(0, 209, 255, 0.37) 100%);
		filter: blur(30px);
		width: 215.695px;
		height: 165.408px;
		transform: rotate(33.438deg);
		opacity: 0.8;
		top: 30px;
		left: 90px;
	}

	@media (any-hover: hover) and (pointer: fine) {
		& > div {
			opacity: 0;
			transition: opacity $tm ease;
		}

		&:hover {
			& > div {
				opacity: 1;
			}
			& > div::after {
				animation: round-btn-after 1.5s ease-in-out forwards;
			}
		}

		@keyframes round-btn-after {
			0% {
			}

			50% {
				top: -60px;
				left: 20px;
				transform: rotate(-28deg);
			}

			100% {
				top: 24%;
				left: -46%;
				transform: rotate(-90deg);
			}
		}
	}

	& > div:before {
		z-index: 15;
		width: 211.877px;
		height: 202.491px;
		top: 92px;
		left: 90px;
		transform: rotate(-58.556deg);
		opacity: 0.7;
		background: radial-gradient(73.69% 73.69% at 50% 50%, #ff09e6 0%, rgba(255, 9, 230, 0.55) 37.66%, rgba(255, 9, 230, 0.37) 100%);
		filter: blur(30px);
	}

	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			& > div::before {
				animation: round-btn-before 1.5s ease-in-out forwards;
			}
		}

		@keyframes round-btn-before {
			0% {
			}

			50% {
				top: -15px;
				left: 75px;
				transform: rotate(-32deg);
			}

			100% {
				top: -10px;
				left: -50px;
				transform: rotate(0);
			}
		}
	}

	> div span {
		z-index: 10;
		width: 264.971px;
		height: 276.528px;
		top: -150px;
		left: -140px;
		transform: rotate(145.204deg);
		opacity: 0.65;
		background: radial-gradient(73.69% 73.69% at 50% 50%, #00d1ff 0%, rgba(0, 209, 255, 0.53) 48.23%, rgba(0, 209, 255, 0.37) 100%);
		filter: blur(30px);
	}

	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			& > div span {
				animation: round-btn-span 1.5s ease-in-out forwards;
			}
		}

		@keyframes round-btn-span {
			0% {
			}

			50% {
				top: 105px;
				left: -140px;
				transform: rotate(162deg);
			}

			100% {
				width: 214.971px;
				height: 316.528px;
				top: -40px;
				left: 140px;
				transform: rotate(174deg);
			}
		}
	}

	// @keyframes round-btn {
	// 	0% {
	// 		transform: rotate(150deg);
	// 		background-size: 100%;
	// 		opacity: 0.8;
	// 	}
	// 	40% {
	// 		transform: rotate(0);
	// 		background-size: 200%;
	// 		opacity: 1;
	// 	}
	// 	100% {
	// 		transform: rotate(230deg);
	// 		background-size: 100%;
	// 		opacity: 1;
	// 	}
	// }
}

//====================виджеты======================

//====================loader======================

.loading .loader {
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	z-index: 150;
	pointer-events: none;
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease;

	&__body {
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image {
		width: 120px;
		aspect-ratio: 1;
		min-width: 120px;
	}
}

.loader_hiding .loader {
	opacity: 0;
	// transition: opacity 1s ease;
	overflow: hidden;
}

.loader.isLoad {
	visibility: hidden;
	display: none;
	overflow: hidden;
}

//====================виджет кнопки телефона======================

.page {
	// .page__phone-button

	&__phone-button {
		position: fixed;
		z-index: 200;
		bottom: 20px;
		right: 20px;
	}
}
.phone-button {
	@include adaptiveValue("padding", 25, 15);
	opacity: 0;
	transform: translateY(500px);
	transition:
		transform 1s ease,
		opacity $tm 0.8s ease;
	// gap: 20px;
	// .phone-button__phone

	&__body {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	&__phone {
		width: 0px;
		opacity: 0;
		transform: scale(0, 1);
		transition:
			width 0.5s ease,
			transform 0.3s ease,
			opacity 0.5s 0.6s ease;

		.phone-button:hover & {
			@include adaptiveValue("width", 250, 190);
			opacity: 1;
			transform: scale(1, 1);
		}

		&::before {
			display: none;
		}
		a {
			@include adaptiveValue("font-size", 24, 16);
			color: white;
			transition: color $tm ease;
			padding-right: 30px;

			&:hover {
				color: $add8;
			}
		}
	}

	// .phone-button__button

	&__button {
		@include adaptiveValue("font-size", 24, 16);
		aspect-ratio: 1;
		transform: translateY(2px);
	}
}

.phone-button._appearing {
	opacity: 1;
	transform: translateY(0px);
}

.btn {
}

//====================виджет сервисы======================
.card-services {
	position: relative;
	overflow: hidden;
	@include adaptiveValue("min-height", 328, 248);
	background-color: $primary1-disable-1;
	@include adaptiveValue("padding-inline", 24, 20);
	@include adaptiveValue("padding-block", 40, 24);
	@include adaptiveValue("border-radius", 20, 16);

	a {
		position: absolute;
		inset: 0;
		// z-index: 5;
	}

	//.card-services__decor_xl

	&__decor_xl,
	&__decor_l {
		position: absolute;
		inset: 0;

		img {
			position: absolute;
			transition: transform $tm ease;
		}

		:nth-child(1) {
			mix-blend-mode: screen;
			@include adaptiveValue("width", 61, 17);
			right: 10%;
			top: 23%;
			@include adaptiveValue("top", 150, 80, $maxWidthContainer, 1024, 1);
			transform: scale(-1, 1) rotate(-20deg);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(10px, 10px, 0) scale(-0.9, 0.9) rotate(-20deg);
				}
			}
		}

		:nth-child(2) {
			mix-blend-mode: lighten;
			@include adaptiveValue("width", 120, 50);
			@include adaptiveValue("top", 310, 147, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("right", 440, 197, $maxWidthContainer, 1024, 1);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(10px, 10px, 0) scale(0.9);
				}
			}
		}

		:nth-child(3) {
			mix-blend-mode: screen;
			opacity: 0.6;
			@include adaptiveValue("width", 45, 18);
			@include adaptiveValue("bottom", 50, 5);
			@include adaptiveValue("right", 230, 80);
			transform: scale(1, -1);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(0px, 10px, 0) scale(0.9, -0.9);
				}
			}
		}

		:nth-child(4) {
			opacity: 0.9;
			@include adaptiveValue("width", 219, 66);
			@include adaptiveValue("bottom", -85, -30);
			@include adaptiveValue("right", -50, -12);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(5px, -10px, 0) scale(1.07);
				}
			}
		}

		:nth-child(5) {
			@include adaptiveValue("width", 132, 50);
			@include adaptiveValue("right", 400, 177, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("bottom", 90, 0);
			opacity: 0.9;
			filter: blur(1px);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(-10px, -10px, 0) scale(1.1);
				}
			}
		}
	}

	&__decor_l {
		:nth-child(1) {
			@include adaptiveValue("width", 37, 25);
			top: unset;
			@include adaptiveValue("bottom", 140, 110);
			@include adaptiveValue("right", 230, 120);
			transform: scale(-1, -1) rotate(-10deg);
			opacity: 0.6;
			filter: blur(1px);
			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(10px, 10px, 0) scale(-1, -1) rotate(-10deg);
				}
			}
		}

		:nth-child(2) {
			@include adaptiveValue("width", 124, 95);
			top: unset;
			@include adaptiveValue("bottom", 0, -10, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("right", -40, -45, $maxWidthContainer, 1024, 1);
			transform: scale(1, -1);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(10px, 10px, 0) scale(1, -1);
				}
			}
		}

		:nth-child(3) {
			z-index: 5;
			mix-blend-mode: lighten;
			opacity: 1;
			@include adaptiveValue("width", 40, 22);
			bottom: 20px;
			@include adaptiveValue("right", 320, 190);
			transform: scale(1) rotate(-20deg);

			@media (any-hover: hover) {
				.card-services:hover & {
					transform: translate3d(7px, 4px, 0) scale(0.9) rotate(-20deg);
				}
			}
		}
	}

	&_color {
		background-color: $primary1-disable-color;
	}

	&_dark {
		background-color: $add3;
	}

	&_xl {
		grid-row: span 2;
		grid-column: span 2;
		@include adaptiveValue("padding-inline", 48, 20);

		@media (max-width: $burgerMenu) {
			grid-row: span 1;
		}

		@media (max-width: 606px) {
			grid-row: span 1;
			grid-column: span 1;
		}

		.card-services__head {
			max-width: 366px;
		}

		.card-services__image {
			@include adaptiveValue("height", 370, 300);
			@include adaptiveValue("right", 50, 10);
			@include adaptiveValue("bottom", 100, 35);

			@media (max-width: $burgerMenu) {
				@include adaptiveValue("height", 220, 180);
				@include adaptiveValue("right", 40, 15);
				@include adaptiveValue("bottom", 10, -10);
			}
		}
	}
	&_l {
		grid-column: span 2;

		@media (max-width: 606px) {
			grid-column: span 1;
		}

		.card-services__head {
			max-width: 387px;
		}

		.card-services__image {
			@include adaptiveValue("height", 250, 155);
			@include adaptiveValue("right", 60, 23);
		}
	}

	&__head {
		@include adaptiveValue("margin-bottom", 12, 16);
		position: relative;
		z-index: 10;
		color: $primary1-hover;
		p {
			text-wrap: unset;
		}
	}

	&__title {
		@include adaptiveValue("margin-bottom", 8, 4);
	}

	&__discription {
	}

	&__button {
		position: relative;
		z-index: 10;
		display: inline-block;
		@media (hover: hover) and (pointer: fine) {
			opacity: 0;
			pointer-events: none;
			transition: all $tm ease;
		}
	}

	@media (any-hover: hover) {
		&:hover &__button {
			opacity: 1;
			pointer-events: all !important;
		}
	}

	&__image {
		position: absolute;
		z-index: 1;
		pointer-events: none;
		// width: 80%;
		@include adaptiveValue("height", 150, 153);
		right: 0;
		bottom: -15px;
		will-change: transform;
		transition: transform $tm ease;
		transform: scale(1) translate3d(0px, 0px, 0);

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: right bottom;
		}

		&_target {
			@include adaptiveValue("height", 169, 175);
			@include adaptiveValue("right", -7, -15);
			bottom: -40px;
		}

		&_media {
			@include adaptiveValue("height", 190, 185);
			@include adaptiveValue("bottom", -36, -30);
			@include adaptiveValue("right", 20, 15);
			transform: translate3d(0px, 0px, 0) scale(1) rotate(-8deg);
		}

		&_text {
			@include adaptiveValue("height", 280, 220);
			@include adaptiveValue("bottom", -65, -40);
			@include adaptiveValue("right", 10, 10);
		}

		&_bloger {
			@include adaptiveValue("height", 240, 215);
			@include adaptiveValue("bottom", -35, -40);
			@include adaptiveValue("right", 0, 20);
		}

		&_dev {
			@include adaptiveValue("height", 180, 160);
			@include adaptiveValue("bottom", -30, -30);
			@include adaptiveValue("right", -30, -15);
		}

		&_design {
			@include adaptiveValue("height", 190, 185);
			@include adaptiveValue("right", 20, 10);
		}

		&_seo {
			@include adaptiveValue("height", 180, 170);
			@include adaptiveValue("bottom", -30, -30);
			@include adaptiveValue("right", 20, 10);
		}

		&_copywrite {
			@include adaptiveValue("height", 185, 165);
			@include adaptiveValue("right", 20, 10);
		}

		&_rtb {
			@include adaptiveValue("height", 190, 185);
			@include adaptiveValue("bottom", -30, -30);
			right: -5px;
			transform: scale(1) translate3d(0px, 0px, 0) rotate(5deg);
		}
	}

	@media (any-hover: hover) {
		&:hover &__image {
			transform: translate3d(-10px, -10px, 0) scale(1.1);
		}

		&:hover &__image_media {
			transform: translate3d(-5px, -10px, 0) scale(1.1) rotate(-8deg);
		}

		&:hover &__image_text {
			transform: translate3d(-5px, -17px, 0) scale(1.1);
		}

		&:hover &__image_bloger {
			transform: translate3d(-3px, -10px, 0) scale(1.1);

			@media (max-width: 606px) {
				transform: translate3d(-40px, 0px, 0) scale(1.1);
			}
		}

		&:hover &__image_design {
			transform: translate3d(-5px, -17px, 0) scale(1.1);
		}

		&:hover &__image_copywrite {
			transform: translate3d(5px, -10px, 0) scale(1.1);
		}

		&:hover &__image_rtb {
			transform: translate3d(0px, -10px, 0) scale(1.1) rotate(5deg);
		}
	}
}

//====================виджет how======================

.card-how {
	display: flex;
	flex-direction: column;
	align-items: start;
	@include adaptiveValue("min-height", 242, 180);
	@include adaptiveValue("padding-block", 24, 16);
	@include adaptiveValue("padding-inline", 32, 28);
	@include adaptiveValue("border-radius", 20, 16);
	border: 1px solid #4c4ca8;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(2px);
	&__image {
		@include adaptiveValue("margin-bottom", 36, 28);
		@include adaptiveValue("width", 56, 35);
		img {
			width: 100%;
		}
	}

	&__discription {
		flex: 1 1 auto;
		// align-self: end;
		display: flex;
		align-items: end;
		font-weight: 300;
	}
	&_last,
	&__dinamic {
		border: none;
		background-color: unset;
		border-radius: 0;
		align-items: center;
		padding: 0;
		font-weight: 500;
		@media (max-width: $burgerMenu) {
			align-items: start;
		}

		@media (max-width: $mobile) {
			align-items: center;
		}

		@media (max-width: $mobileSmall) {
			max-width: 196px;
			margin-inline: auto;
			text-align: center;
			aspect-ratio: 1;
			a {
				width: 100%;
			}
		}
	}
}

//====================виджет user-card======================

.user-card {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 24, 12);
	// .user-card__avatar

	&__avatar {
		@include adaptiveValue("width", 96, 64);
		aspect-ratio: 1;
		border-radius: 100px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .user-card__description

	&__description {
	}

	// .user-card__title

	&__title {
	}

	// .user-card__text

	&__text {
		font-weight: 300;
	}
}

//====================виджет scroll======================
.first-screen__scroll {
	display: flex;
	max-width: 211px;
	gap: 10px;
	align-items: center;

	@media (max-width: $burgerMenu) {
		display: none;
	}
}

///====================виджет description-card======================
.description-card {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	@include adaptiveValue("padding", 40, 20);
	@include adaptiveValue("border-radius", 20, 16);
	border: 1px solid #4c4ca8;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(2px);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	// .description-card__title

	&__title {
		text-align: left;
		@include adaptiveValue("font-size", 36, 24);
		line-height: 100%;
		font-weight: 500;
		@include adaptiveValue("margin-bottom", 8, 5);
	}

	// .description-card__description

	&__description {
		@include adaptiveValue("font-size", 20, 18);
		max-width: 444px;
		line-height: 160%;
		text-align: left;
	}

	a {
		position: absolute;
		z-index: 1;
		inset: 0;
	}

	// .description-card__hover-layer

	&__hover-layer {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: none;
		transition: opacity $tm ease;

		@media (any-hover: hover) and (pointer: fine) {
			.description-card:hover & {
				opacity: 1;
				pointer-events: all;
			}
		}

		img {
			position: absolute;
			// z-index: -1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		a {
			display: inline-flex;
			align-items: center;

			position: relative;
			z-index: 1;
			@include adaptiveValue("padding-inline", 25, 25);
			aspect-ratio: 1;
			background-color: $primary1-hover;
			border-radius: 100px;
		}
	}
}
