.footer {
	// padding-block: rem(64) rem(24);
	&__container {
	}

	&__content,
	&__copyrite {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	&__content {
		@include adaptiveValue("padding-block", 64, 56);
		@media (max-width: $burgerMenu) {
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: rem(28);
		}

		@media (max-width: 606px) {
			flex-direction: column;
		}
	}

	&__copyrite {
		@include adaptiveValue("padding-block", 24, 20);
		border-top: 1px solid $gray6;
		flex-wrap: wrap;
		column-gap: rem(30);
		p {
			margin-bottom: 0 !important;
		}
	}

	&__contacts {
		@media (max-width: $burgerMenu) {
			flex: 1 0 100%;
			align-content: center;
			text-align: center;
		}

		@media (max-width: 606px) {
			text-align: left;
		}
	}

	&__title {
		@include adaptiveValue("margin-bottom", 12, 15);
	}

	&__services {
		.footer__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			@include adaptiveValue("column-gap", 96, 24);
			@include adaptiveValue("row-gap", 6, 2);
		}
	}

	&__item {
		transition: color $tm ease;

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				color: $primary1;
			}
		}

		a {
			padding-block: rem(5);
		}
	}

	&__navigate {
		.footer__title {
			text-transform: none;
		}

		.footer__list {
			@media (max-width: 606px) {
				// max-height: 55px;
			}
		}
	}

	&__copyrite {
		a {
			color: $mainColor !important;
		}
	}
}
.contacts {
	&__logo {
		@include adaptiveValue("width", 98, 72);
		@include adaptiveValue("margin-bottom", 24, 20);

		@media (min-width: 607px) and (max-width: 1024px) {
			margin-inline: auto;
		}

		img {
			width: 100%;
		}
	}

	&__item {
	}

	&__link {
		display: block;
		color: $mainColor;
		font-weight: 500;
		text-transform: none;
		@include adaptiveValue("font-size", 24, 20);

		@media (any-hover: hover) and (pointer: fine) {
			&:hover {
				color: $primary1;
			}
		}
	}

	&__title {
	}
}

.footer-index {
	.footer__content {
		@media (max-width: $burgerMenu) {
			justify-content: space-between;
		}

		@media (max-width: 992px) {
			justify-content: flex-start;
		}
	}

	.footer__contacts {
		@media (max-width: $burgerMenu) {
			flex: unset;
		}

		@media (max-width: 992px) {
			flex: 1 0 100%;
		}
	}

	.contacts__item {
		text-align-last: left;
		@media (max-width: 606px) {
		}

		.contacts__link {
			font-size: rem(20);
			padding-inline: 0;
		}

		button {
			@include adaptiveValue("margin-top", 12, 10);
		}
	}

	.footer__list {
		@include adaptiveValue("column-gap", 56, 10);
	}
}
