//====================первый экран======================

// анимация декоративных элементов
.page__first-screen {
	.first-screen__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.first-screen__decor_top,
		.first-screen__decor_center,
		.first-screen__decor_bottom {
			position: absolute;
			// mix-blend-mode: screen;
			will-change: transform;
			transition: all 7s 1s cubic-bezier(0.14, 0.995, 0.465, 1);
			img {
				width: 100%;
			}
		}

		.first-screen__decor_top {
			width: 0;
			right: 45%;
			top: 45%;
			opacity: 0;
			filter: blur(0px);

			@media (max-width: calc(#{$maxWidth}px)) {
				right: 45%;
			}

			@media (max-width: $burgerMenu) {
				right: 45%;
			}

			@media (max-width: $mobile) {
				filter: blur(0px);
			}
		}

		.first-screen__decor_center {
			width: 0;
			right: 45%;
			top: 45%;
			filter: blur(0px);
			opacity: 0;

			@media (max-width: $burgerMenu) {
				width: 0;
				right: 45%;
				top: 45%;
				filter: blur(0px);
			}
		}

		.first-screen__decor_bottom {
			width: 0;
			right: 45%;
			bottom: 45%;
			opacity: 0;

			@media (max-width: 1600px) {
				right: 0;
			}

			@media (max-width: 709px) {
				top: 0;
				right: 0;
			}
			@media (min-width: 710px) and (max-width: $burgerMenu) {
				top: 0;
				right: 0;
			}
		}
	}
}

.loaded {
	.page__first-screen {
		.first-screen__decor {
			.first-screen__decor_top,
			.first-screen__decor_center,
			.first-screen__decor_bottom {
				img {
				}
			}

			.first-screen__decor_top {
				@include adaptiveValue("width", 380, 110);
				@include adaptiveValue("right", -200, 80);
				@include adaptiveValue("top", -240, -60);
				opacity: 0.5;
				filter: blur(6px);

				@media (max-width: calc(#{$maxWidth}px)) {
					right: 0;
				}

				@media (max-width: $burgerMenu) {
					right: 70px;
				}

				@media (max-width: $mobile) {
					filter: blur(4px);
				}
			}

			.first-screen__decor_center {
				@include adaptiveValue("width", 128, 75);
				right: 33%;
				top: 15%;
				filter: blur(6px);
				opacity: 0.5;

				@media (max-width: $burgerMenu) {
					@include adaptiveValue("left", 350, -10);
					@include adaptiveValue("top", 120, 100);
					filter: blur(3px);
				}
			}

			.first-screen__decor_bottom {
				@include adaptiveValue("width", 158, 85);
				right: -8%;
				bottom: 14%;
				opacity: 1;
				@media (max-width: 1600px) {
					right: 1%;
				}

				@media (max-width: 709px) {
					@include adaptiveValue("top", 540, 350, 709, 360, 1);
					@include adaptiveValue("right", 250, 20);
				}
				@media (min-width: 710px) and (max-width: $burgerMenu) {
					@include adaptiveValue("right", 280, 70);
					@include adaptiveValue("top", 590, 450);
				}
			}
		}
	}
}

//TODO разобраться с анимацией загрузки

// анимация главного изображения

.page__first-screen {
	.first-screen__image {
		flex: 1 1 740px;

		@media (max-width: $burgerMenu) {
			flex-basis: unset;
			flex-grow: 0;
			width: 95%;
			max-width: 470px;
		}

		img {
			width: 0%;
			transition: all 4s 1s cubic-bezier(0.14, 0.995, 0.465, 1);
		}
	}
}

.loaded {
	.page__first-screen {
		.first-screen__image {
			img {
				width: 100%;
			}
		}
	}
}

//====================first-screen======================

.first-screen {
	position: relative;
	overflow: hidden;

	&__background {
	}

	&__body {
		min-height: 100vh;
		display: flex;
		align-items: center;
		@media (max-width: $burgerMenu) {
			flex-direction: column-reverse;
			justify-content: space-around;
			min-height: fit-content;
			row-gap: 60px;
			@include adaptiveValue("padding-block", 152, 68);
		}
		@media (max-width: $mobileSmall) {
			// min-height: fit-content;
			// row-gap: 70px;
			// padding-bottom: 56px;
			// padding-top: 76px;
			// justify-content: space-between;
		}

		@media (orientation: landscape) {
			@include adaptiveValue("padding-block", 152, 68);
			row-gap: 60px;
			justify-content: space-between;
		}
	}
	&__content {
		color: white;
		@media (max-width: $burgerMenu) {
			min-width: 320px;
			width: 72%;
			align-self: center;
			text-align: center;
		}
		@media (max-width: $mobileSmall) {
			align-self: self-start;
			text-align: left;
			width: 100%;
		}
	}

	&__title {
	}

	&__sub-title {
	}

	&__image {
	}
}

//====================about======================

.about {
	&__container {
	}

	&__body {
		display: flex;
		align-items: start;
		@include adaptiveValue("gap", 136, 0);

		@media screen and (max-width: $mobile) {
			flex-wrap: wrap;
			width: 100%;
			max-width: 500px;
			gap: 16px;
		}
	}

	&__title {
		flex: 1 1 52%;
	}

	&__text {
		flex: 1 1 48%;
	}
}

//====================advantages======================

.advantages {
	&__stroke {
		@media (max-width: $mobileSmall) {
			padding-inline: calc(#{$containerPadding}px / 2);
		}
	}

	&__list {
		display: flex;
		gap: 130px;
		animation: marquee linear infinite;
		animation-duration: 22s;
		@media (max-width: $burgerMenu) {
			animation-duration: 15s;
			gap: 95px;
		}
		@media (max-width: $mobileSmall) {
			gap: 24px;
			flex-direction: column;
			animation: none;
			margin-inline: $containerPadding;
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__value {
		@include adaptiveValue("font-size", 110, 86, 1372, 479, 1);
		line-height: 100%;
		color: $add9;
		@include adaptiveValue("margin-bottom", 24, 0, 1372, 479, 1);

		@media (max-width: $mobileSmall) {
			font-size: rem(48);
		}
	}

	&__discription {
	}
}

//====================services======================
.services {
	&__container {
	}

	&__body {
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		@media (max-width: $burgerMenu) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 606px) {
			grid-template-columns: 1fr;
			// grid-auto-flow: row;
		}
	}

	&__card {
	}
}

//====================how======================

.how {
	&__background {
		&::before {
			display: none;
		}

		&::after {
			background-image: url("@img/how/bg-gradient-1.svg");
			background-position: left center;
			background-size: contain;
			@include adaptiveValue("background-position-y", 0, 100);
			@include adaptiveValue("background-position-x", -150, 0);
			opacity: 0.5;
		}
	}

	&__container {
	}

	&__head {
		text-align: center;
		@include adaptiveValue("margin-bottom", 80, 28);
	}

	&__title {
	}

	&__sub-title {
	}

	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		&::-webkit-scrollbar {
			width: 0;
		}

		@media (max-width: $burgerMenu) {
			// flex-wrap: wrap;
			justify-content: start;
		}

		@media (max-width: $mobileSmall) {
			overflow-x: scroll;
			flex-wrap: nowrap;
		}
	}

	&__card {
		flex: 1 1 20%;
		@media (max-width: $burgerMenu) {
			flex: 1 1 30%;
		}

		@media (max-width: $mobile) {
			flex: 1 1 45%;
		}

		@media (max-width: $mobileSmall) {
			flex: 0 0 244px;
		}
	}
}

//====================clients======================

.clients {
	&__content {
	}

	&__slider {
		pointer-events: none;
		&_reverse {
			pointer-events: none;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__wrapper {
		transition-timing-function: linear !important;
		will-change: transform;
	}

	&__slide {
		display: flex;
		justify-content: center;
		align-items: end;
		will-change: transform;
		filter: grayscale(100);
	}

	&__image {
		width: 100%;
		// max-height: 100%;
		// object-fit: contain;
		// object-position: center bottom;
	}
}

///====================form-main======================

.main-form {
	&__decor {
		position: absolute;
		pointer-events: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.decor__image {
			max-width: fit-content;
			mix-blend-mode: lighten;
			position: absolute;

			img {
				width: 100%;
			}

			&:nth-child(1) {
				@include adaptiveValue("width", 437, 210);
				@include adaptiveValue("top", -236, -110);
				@include adaptiveValue("left", -150, -80);

				filter: blur(8px);
			}

			&:nth-child(2) {
				@include adaptiveValue("width", 142, 105);
				@include adaptiveValue("top", 715, 455);
				@include adaptiveValue("left", 100, 24);

				@media (max-width: $mobileSmall) {
					@include adaptiveValue("top", 470, 350, 479, 360, 1);
				}
			}

			&:nth-child(3) {
				@include adaptiveValue("width", 79, 25);
				@include adaptiveValue("top", 200, 72);
				@include adaptiveValue("right", 1270, 620, 2580, 1280, 1);
				@media (max-width: $burgerMenu) {
					@include adaptiveValue("right", 200, 24);
				}
			}
		}
	}
	&__container {
	}

	&__content {
		display: flex;
		@include adaptiveValue("gap", 73, 63);
		align-items: center;
		justify-content: space-between;
		@media (max-width: $burgerMenu) {
			flex-direction: column;
		}
	}

	&__image {
		position: relative;
		z-index: 5;
		flex: 0 1 559px;
		@media (max-width: $burgerMenu) {
			flex: 0 1 auto;
		}
		img {
			width: 100%;
		}
	}

	&__body {
		flex: 0 1 560px;
		max-width: 700px;
	}

	&__head {
		text-align: left;
		margin-bottom: rem(28);
	}

	&__title {
	}

	&__sub-title {
	}

	&__form {
		.form__row {
		}
	}
}
