//====================первый экран======================

.page__first-screen {
	.backgrount-stars {
		img {
			mix-blend-mode: screen;
			opacity: 0.8;
		}
	}

	.first-screen__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		.first-screen__decor_top,
		.first-screen__decor_center,
		.first-screen__decor_bottom {
			position: absolute;
			mix-blend-mode: screen;
			will-change: transform;

			img {
				width: 100%;
			}
		}

		.first-screen__decor_top {
			@include adaptiveValue("width", 380, 110);
			@include adaptiveValue("right", -200, 180);
			@include adaptiveValue("top", -240, -60);
			opacity: 0.5;
			filter: blur(3px);

			@media (max-width: calc(#{$maxWidth}px)) {
				// right: 0;
			}

			@media (max-width: $burgerMenu) {
				right: 70px;
			}

			@media (max-width: $mobile) {
				filter: blur(4px);
			}
		}

		.first-screen__decor_center {
			@include adaptiveValue("width", 100, 60);
			right: 35%;
			top: 22%;
			filter: blur(4px);
			opacity: 0.5;

			@media (max-width: $burgerMenu) {
				@include adaptiveValue("left", 350, -10);
				@include adaptiveValue("top", 120, 100);
				filter: blur(3px);
			}
		}

		.first-screen__decor_bottom {
			@include adaptiveValue("width", 140, 70);
			right: -7%;
			bottom: 11%;
			opacity: 1;
			@media (max-width: 1600px) {
				right: 1%;
			}

			@media (max-width: 709px) {
				@include adaptiveValue("top", 540, 370, 709, 360, 1);
				@include adaptiveValue("right", 250, 30);
			}
			@media (min-width: 710px) and (max-width: $burgerMenu) {
				@include adaptiveValue("right", 280, 70);
				@include adaptiveValue("top", 590, 450);
			}
		}
	}
}

.page__first-screen {
	.first-screen__image {
		position: relative;
		z-index: 100;
		flex: 1 1 870px;

		@media (max-width: $burgerMenu) {
			flex-basis: unset;
			flex-grow: 0;
			width: 95%;
			max-width: 470px;
		}
		& > img:first-child {
			// transform: scale(100%);
			// position: relative;
			width: 100%;
			opacity: 1;
			transform: rotate(-5deg);
			// transition: all 7s 1s cubic-bezier(0.14, 0.995, 0.465, 1);
		}

		& > img:nth-child(2) {
			position: absolute;
			opacity: 0.8;
			// z-index: 10;
			background: url("@img/decor/lens.png") center / contain no-repeat;
			width: 70px;
			aspect-ratio: 5/4;
			top: 1%;
			left: 33%;
		}
	}
}

//====================first-screen======================

.first-screen {
	position: relative;
	overflow: hidden;

	&__background {
	}

	&__container {
		position: relative;
	}

	&__body {
		min-height: 100vh;
		display: flex;
		align-items: center;
		@media (max-width: $burgerMenu) {
			flex-direction: column-reverse;
			justify-content: space-around;
			min-height: fit-content;
			row-gap: 60px;
			@include adaptiveValue("padding-block", 152, 68);
		}
		@media (max-width: $mobileSmall) {
			// min-height: fit-content;
			// row-gap: 70px;
			// padding-bottom: 56px;
			// padding-top: 76px;
			// justify-content: space-between;
		}

		@media (orientation: landscape) {
			@include adaptiveValue("padding-block", 152, 68);
			row-gap: 60px;
			justify-content: space-between;
		}
	}
	&__content {
		color: white;
		@media (max-width: $burgerMenu) {
			min-width: 320px;
			width: 72%;
			align-self: center;
			text-align: center;
		}
		@media (max-width: $mobileSmall) {
			align-self: self-start;
			text-align: left;
			width: 100%;
		}
	}

	&__title {
	}

	&__sub-title {
		max-width: 600px;
		text-wrap: unset;
	}

	&__image {
	}
}

//====================about======================

.about {
	&__container {
	}

	&__body {
		display: flex;
		align-items: start;
		@include adaptiveValue("gap", 136, 0);

		@media (max-width: $mobile) {
			flex-direction: column;
			width: 100%;
			max-width: 500px;
			gap: 0;
		}
	}

	&__title {
		text-wrap: unset;
		flex: 1 1 54%;
	}

	&__text {
		flex: 1 1 44.8%;
		@include adaptiveValue("margin-top", 29, 0, $maxWidthContainer, 767.98, 1);

		p {
			text-wrap: unset;
			font-weight: 300;
		}
	}

	&__link {
		padding-inline: 0;
		@include adaptiveValue("font-size", 16, 14);
	}
}

//====================advantages======================

.advantages {
	&__stroke {
		@media (max-width: $mobileSmall) {
			padding-inline: calc(#{$containerPadding}px / 2);
		}
	}

	&__list {
		display: flex;
		gap: 130px;
		animation: marquee linear infinite;
		animation-duration: 22s;
		@media (max-width: $burgerMenu) {
			animation-duration: 15s;
			gap: 95px;
		}
		@media (max-width: $mobileSmall) {
			gap: 24px;
			flex-direction: column;
			animation: none;
			margin-inline: $containerPadding;
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
	}

	&__value {
		@include adaptiveValue("font-size", 110, 86, 1372, 479, 1);
		line-height: 100%;
		color: $add9;
		@include adaptiveValue("margin-bottom", 24, 0, 1372, 479, 1);

		@media (max-width: $mobileSmall) {
			font-size: rem(48);
		}
	}

	&__discription {
	}
}

//====================services======================
.services {
	&__container {
	}

	&__body {
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		@media (max-width: $burgerMenu) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 606px) {
			grid-template-columns: 1fr !important;
			// grid-auto-flow: row;
		}
	}

	&__card {
	}
}

//====================how======================

.how {
	&__background {
		img {
			object-position: center;
			opacity: 0.3;
		}

		&::before {
			display: none;
		}

		&::after {
			background-image: url("@img/how/bg-gradient-1.svg");
			background-position: left center;
			background-size: contain;
			@include adaptiveValue("background-position-y", 0, 100);
			@include adaptiveValue("background-position-x", -150, 0);
			opacity: 0.5;
		}
	}

	&__container {
	}

	&__head {
		text-align: center;
		@include adaptiveValue("margin-bottom", 80, 28);
	}

	&__title {
		max-width: 908px;
		margin-inline: auto;
		text-wrap: unset;
	}

	&__sub-title {
		max-width: 679px;
		margin-inline: auto;
		font-weight: 300;
		text-wrap: unset;
	}

	&__body {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			display: none;
		}

		@media (max-width: $burgerMenu) {
			// flex-wrap: wrap;
			justify-content: start;
		}

		@media (max-width: $mobileSmall) {
			overflow-x: scroll;
			flex-wrap: nowrap;
		}
	}

	&__card {
		flex: 1 1 20%;
		@media (max-width: $burgerMenu) {
			flex: 1 1 30%;
		}

		@media (max-width: $mobile) {
			flex: 1 1 45%;
		}

		@media (max-width: $mobileSmall) {
			flex: 0 0 244px;
		}
	}
}

//====================clients======================

.clients {
	&__content {
	}

	&__slider {
		pointer-events: none;
		&_reverse {
			pointer-events: none;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}

	&__wrapper {
		transition-timing-function: linear !important;
		will-change: transform;
	}

	&__slide {
		display: flex;
		justify-content: center;
		align-items: end;
		will-change: transform;
		filter: grayscale(100);
	}

	&__image {
		width: 100%;
	}
}

///====================form-main======================

.main-form {
	&__background {
		img {
			object-position: center;
			opacity: 0.5;
		}
	}
	&__decor {
		position: absolute;
		pointer-events: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		.decor__image {
			mix-blend-mode: lighten;
			position: absolute;

			img {
				width: 100%;
			}

			&:nth-child(1) {
				@include adaptiveValue("width", 437, 210);
				@include adaptiveValue("top", -286, -170);
				@include adaptiveValue("left", -190, -100);

				filter: blur(9px);
				opacity: 0.8;
			}

			&:nth-child(2) {
				@include adaptiveValue("width", 190, 90);
				@include adaptiveValue("top", 675, 475);
				@include adaptiveValue("left", 100, 24);

				@media (max-width: $mobileSmall) {
					@include adaptiveValue("top", 470, 350, 479, 360, 1);
				}
			}

			&:nth-child(3) {
				@include adaptiveValue("width", 79, 35);
				@include adaptiveValue("top", 200, 72);
				@include adaptiveValue("right", 1270, 620, 2580, 1280, 1);
				@media (max-width: $burgerMenu) {
					@include adaptiveValue("right", 200, 24);
				}
			}
		}
	}
	&__container {
	}

	&__content {
		display: flex;
		@include adaptiveValue("gap", 73, 63);
		align-items: center;
		justify-content: space-between;
		@media (max-width: $burgerMenu) {
			flex-direction: column;
		}
	}

	&__image {
		position: relative;
		z-index: 5;
		flex: 0 1 559px;
		@media (max-width: $burgerMenu) {
			flex: 0 1 auto;
		}

		img {
			width: 100%;
		}

		:nth-child(2) {
			position: absolute;
			aspect-ratio: 1;
			width: 110px;
			left: 33%;
			top: 1%;
		}
	}

	&__body {
		flex: 0 1 560px;
		max-width: 700px;
	}

	&__head {
		text-align: left;
		margin-bottom: rem(28);
	}

	&__title {
		@include adaptiveValue("margin-bottom", 16, 10);
	}

	&__sub-title {
		font-weight: 300;
	}

	&__form {
		.form__row {
		}
	}
}
