.influence-marketing {
	.services {
		// .services__first-screen-services

		&__first-screen-services {
		}
	}
	.first-screen-services {
		// .first-screen-services__background

		&__background {
		}

		// .first-screen-services__container

		&__container {
		}

		// .first-screen-services__body

		&__body {
		}

		// .first-screen-services__content

		&__content {
			flex: 0 0 50%;

			@media (max-width: $burgerMenu) {
				flex: 0 0 100%;
			}
		}

		// .first-screen-services__item-link

		&__item-link {
		}

		// .first-screen-services__title

		&__title {
		}

		// .first-screen-services__text

		&__text {
		}

		// .first-screen-services__images

		&__images {
			justify-content: end;
			// height: 100%;
		}

		// .first-screen-services__image

		&__image {
			margin-top: 0;
			margin-bottom: 0;
			max-height: 730px;
			width: 90%;
			img {
				transform: scale(100%);
				height: 100%;
				width: 100%;
				object-fit: contain;
				object-position: center bottom;
			}

			&:before {
				content: "";
				position: absolute;
				z-index: -10;
				background: url("@img/services/decor-heart.png") center / contain no-repeat;
				@include adaptiveValue("width", 200, 100);
				aspect-ratio: 1;
				@include adaptiveValue("left", -50, -50);
				top: 34%;
			}
			&:after {
				content: "";
				position: absolute;
				z-index: -10;
				background: url("@img/services/decor-heart.png") center / contain no-repeat;
				@include adaptiveValue("width", 110, 45);
				aspect-ratio: 1;
				@include adaptiveValue("right", -20, -20);
				top: 19%;
				transform: rotate(45deg);
			}
		}

		// .first-screen-services__decor

		&__decor {
			opacity: 0.6;
			.decor__top {
				top: -3%;
				left: 30%;
			}

			// .decor__center

			.decor__center {
			}

			// .decor__bottom

			.decor__bottom {
				left: -18%;
			}
		}
	}
}
