.services {
	&__page-navigation {
		@include adaptiveValue("padding-top", 80, 16);
		@include adaptiveValue("padding-bottom", 40, 16);
		@include adaptiveValue("margin-bottom", 144, 56);
	}

	&__why-needed,
	&__profit,
	&__stages,
	&__quote,
	&__companion-services,
	&__main-form,
	&__introduction {
		overflow: hidden;
		@include adaptiveValue("margin-bottom", 144, 56);
	}

	&__main-form {
		padding-block: 0;
	}

	&__tabs {
		@include adaptiveValue("margin-block", 144, 56);

		.tabs__navigation {
			@include adaptiveValue("padding-bottom", 40, 16);
		}
	}
}

.why-needed__body,
.profit__body,
.stages__body,
.quote__body {
	display: flex;
	@include adaptiveValue("gap", 130, 10, $maxWidthContainer, 767.98, 1);
	max-width: 100%;

	@media screen and (max-width: $mobile) {
		flex-wrap: wrap;
		width: 100%;
		gap: 0;
	}
}

.why-needed__text,
.profit__content,
.stages__content {
	flex: 0 1 50%;

	> :not(:last-child) {
		@include adaptiveValue("margin-bottom", 28, 24);
	}

	@media screen and (max-width: $mobile) {
		flex: 0 0 100%;
		padding-top: 0;
	}
}

.why-needed__title,
.profit__title,
.stages__title {
	flex: 0 1 50%;
	// overflow-wrap: break-word;
	text-wrap: balance;
	@media screen and (max-width: $mobile) {
		flex: 0 0 100%;
	}
}

//====================first-screen======================

.services {
	// .services__first-screen-services

	&__first-screen-services {
	}
}
.first-screen-services {
	display: flex;
	flex-direction: column;
	min-height: 860px;
	position: relative;
	overflow: hidden;
	// .first-screen-services__background

	&__background {
	}

	// .first-screen-services__container

	&__container {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	// .first-screen-services__body

	&__body {
		flex: 1 1 auto;
		display: flex;
		@include adaptiveValue("gap", 100, 50);
		// align-items: center;
		height: 100%;

		@media (max-width: $burgerMenu) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// .first-screen-services__content

	&__content {
		color: white;
		@include adaptiveValue("padding-top", 210, 150);
		@include adaptiveValue("padding-bottom", 144, 56);

		flex: 0 0 40%;
		align-self: center;

		@media (max-width: $burgerMenu) {
			flex: 0 0 100%;
			padding-bottom: 0;
		}
	}

	// .first-screen-services__item-link

	&__item-link {
		@include adaptiveValue("margin-bottom", 20, 10);
		a {
			color: $add8;
		}
	}

	// .first-screen-services__title

	&__title {
		text-transform: uppercase;
	}

	// .first-screen-services__text

	&__text {
	}

	// .first-screen-services__images

	&__images {
		flex: 0 1 45%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: $burgerMenu) {
			flex: 0 1 100%;
			// justify-content: start;
		}
	}

	// .first-screen-services__image

	&__image {
		position: relative;
		z-index: 0;
		@include adaptiveValue("margin-top", 220, 0);
		width: 100%;

		@media (max-width: $burgerMenu) {
			margin-top: 0;
			@include adaptiveValue("margin-bottom", 60, 45);
			max-width: 400px;
		}

		img {
			width: 100%;
		}

		&::before {
			content: "";
			background: url("@img/services/item-bg-gradient.png") center/contain no-repeat;
			position: absolute;
			z-index: -1;
			opacity: 0.5;
			pointer-events: none;
			inset: -100%;
			transform: translate(3%, -6%);
		}
	}

	// .first-screen-services__decor

	&__decor {
	}
}

.decor-services {
	position: absolute;
	inset: 0;
	// z-index: 1;
	pointer-events: none;

	> * {
		position: absolute;
		aspect-ratio: 1;
		mix-blend-mode: lighten;
		opacity: 0.8;

		img {
			width: 100%;
		}
	}

	.decor__top {
		top: -5%;
		left: 40%;
		@include adaptiveValue("width", 52, 30);
	}

	// .decor__center

	.decor__center {
		top: 47%;
		@include adaptiveValue("right", -50, -10);
		@include adaptiveValue("width", 48, 42);
	}

	// .decor__bottom

	.decor__bottom {
		bottom: -30px;
		left: -5%;
		@include adaptiveValue("width", 160, 100);
		opacity: 0.6;
	}

	// .decor__top

	&__top {
	}

	// .decor__center

	&__center {
	}

	// .decor__bottom

	&__bottom {
	}
}

///====================page-navigation======================

.page-navigation {
	background-color: white;
	// .page-navigation__container

	&__container {
	}

	// .page-navigation__body

	&__body {
		width: 100%;
		@media (max-width: $burgerMenu) {
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	// .page-navigation__list

	&__list {
		display: flex;
		column-gap: 20px;
		justify-content: space-between;
	}

	// .page-navigation__item

	&__item {
		flex: 1 0 20%;
		a {
			color: $mainColor;
			width: 100%;

			&::before {
				width: 0;
				height: 0;
				pointer-events: none;
			}
		}
	}
}

//====================why-needed======================

.why-needed {
	// .why-needed__container

	&__container {
	}

	// .why-needed__body

	&__body {
	}

	// .why-needed__title

	&__title {
		text-wrap: unset;
	}

	// .why-needed__text

	&__text {
		// flex: 0 0 50%;
		@include adaptiveValue("padding-top", 26, 0);

		@media screen and (max-width: $mobile) {
			// flex: 0 0 100%;
			padding-top: 0;
		}
	}
}

//====================profit======================

.profit {
	// .profit__container

	&__container {
	}

	// .profit__body

	&__body {
	}

	// .profit__title

	&__title {
		// flex: 1 0 auto;
	}

	// .profit__content

	&__content {
	}

	// .profit__text

	&__text {
		p {
			margin-bottom: 0;
		}
	}

	// .profit__list

	&__list {
		h6 {
			@include adaptiveValue("margin-bottom", 16, 12);
		}
	}

	// .profit__sub-title

	&__sub-title {
	}

	// .profit__item

	&__item {
		position: relative;
		@include adaptiveValue("font-size", 18, 14);
		font-weight: 300;
		padding-left: 20px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 18, 12);
		}

		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 0;
			width: 0;
			height: 0;
			border-bottom: 4px solid transparent;
			border-top: 4px solid transparent;
			border-left: 8px solid $primary1;
		}
	}
}

//====================stages======================
.stages {
	.spollers__title {
		span {
			margin-right: 15px;
		}
	}
}

//====================quote======================

.quote {
	// .quote__container

	&__container {
	}

	// .quote__body

	&__body {
		@media (min-width: 606px) {
			display: flex;
			justify-content: end;
		}
	}

	// .quote__content

	&__content {
		@media (min-width: 606px) {
			flex: 0 0 50%;
		}
	}

	// .quote__text

	&__text {
		@media (min-width: 606px) {
			margin-left: -100%;
		}
		position: relative;
		@include adaptiveValue("padding-left", 88, 30);
		@include adaptiveValue("font-size", 36, 18);
		line-height: 156%;
		@include adaptiveValue("margin-bottom", 44, 16);

		&::before {
			content: "\AB";
			@include adaptiveValue("font-size", 80, 40);
			color: $primary1;
			position: absolute;
			width: fit-content;
			height: fit-content;
			left: 0;
			top: 0;
		}
	}

	// .quote__user-card

	&__user-card {
	}
}

//====================companion-services======================

.companion-services {
	// .companion-services__container

	&__container {
	}

	// .companion-services__body

	&__body {
	}

	// .companion-services__title

	&__title {
	}

	// .companion-services__content

	&__content {
	}

	// .companion-services__list

	&__list {
		display: flex;
		overflow-x: scroll !important;
		@include adaptiveValue("gap", 20, 12);
		&::-webkit-scrollbar {
			width: 0;
		}
	}

	// .companion-services__card

	&__card {
		flex: 1 0 30%;
		min-width: 288px;
	}
}

.card-services {
	// .card-services_color

	&_color {
	}

	// .card-services__head

	&__head {
	}

	// .card-services__title

	&__title {
	}

	// .card-services__discription

	&__discription {
	}

	// .card-services__button

	&__button {
	}

	// .card-services__image

	&__image {
		// .card-services__image_big

		&_big {
		}
	}
}

//====================main-form======================

.services {
	// .services__main-form

	.main-form {
		position: relative;
		overflow: hidden;
		// .main-form__background

		&__background {
		}

		// .main-form__container

		&__container {
			display: flex;
			justify-content: space-between;
			@media (max-width: $burgerMenu) {
				min-height: 650px;
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		// .main-form__content

		&__content {
			gap: unset;
			// display: block;
			position: relative;
			z-index: 100 !important;
			flex: 0 0 50%;
			@include adaptiveValue("padding-block", 104, 56);
			max-width: 560px;

			@media (max-width: $burgerMenu) {
				flex: 0 0 100%;
				// @include adaptiveValue("padding-top", 144, 56);
				padding-bottom: 15px;
			}

			button {
				@media (max-width: 606px) {
					width: 100%;
				}
			}

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				right: 50%;
				bottom: 40%;
				z-index: -1;
				background: url("@img/vacancies/bg-gradient-cosmonaut_top.svg") center/contain no-repeat;
				pointer-events: none;
				opacity: 0.5;
				filter: blur(75px);
			}
		}

		// .main-form__images
		&__images {
			position: relative;
			flex: 0 1 100%;
			@media (max-width: $burgerMenu) {
				flex: 0 0 100%;
				height: 400px;
			}
		}

		// .main-form__image

		&__image {
			mix-blend-mode: screen;
			position: absolute;
			z-index: 5;
			@include adaptiveValue("width", 1900, 1300, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("height", 1600, 1200, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("right", -800, -600, $maxWidthContainer, 1024, 1);
			@include adaptiveValue("bottom", -500, -250, $maxWidthContainer, 1024, 1);

			@media (max-width: $burgerMenu) {
				width: 1255px;
				height: 1236px;
				left: 50%;
				bottom: -600px;
				transform: translateX(-50%);
			}

			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		// .main-form__body

		&__body {
		}

		// .main-form__head

		&__head {
		}

		// .main-form__title

		&__title {
		}

		// .main-form__sub-title

		&__sub-title {
		}

		// .main-form__form

		&__form {
		}
	}
}
