@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Muller", sans-serif;
$fontSize: 16; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #333333; // Цвет шрифта по умолчанию
$primary1: #0100ff;
$primary1-hover: #000071;
$primary1-disable: #f0f0ff;
$primary1-disable-1: #e3ebff;
$primary1-disable-color: #eff2f6;
$primary1-disable-text: #d8d8f3;
$primary-bg: #1f1f61;
$primary-error: #ff8484;

$add2: #000055;
$add3: #01008e;
$add4: #0100aa;
$add7: #4c4ca8;
$add8: #a1a1f0;
$add9: #1890ff;

$primary2: #ff09ff;
$primary2-hover: #930093;
$primary2-disable: #ffe4ff;
$primary2-disable-text: #d7add7;

$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #d6d7db;
$gray7: #eaebed;

$tm: 0.5s;
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1372;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 36;

// появление бургер-меню
$burgerMenu: 1024px;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		// overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
	// background-color: rgb(231, 231, 231);
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================

.wrapper {
	min-height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	transition: opacity 1.3s ease;

	// Прижимаем footer
	> main {
		position: relative;
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "vacancies";
@import "services";
@import "contacts";
@import "contextual-advertising";
@import "site-design";
@import "influence-marketing";
@import "programmatic-advertising";
@import "text-advertising";
@import "orm-advertising";
@import "about-company";
@import "cases";
@import "reusable-components";
@import "404";
@import "privacy";
@import "advertising-department";
